/*estilo específico para a página de login*/

/*campo formulário*/
div.form {
    font-family: Montserrat, Arial, Helvetica;
    border-radius: 9px;
    background-color:#D9D9D9;
    box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.25);
    padding: 0px auto;
    margin: 150px auto;
    width: 440px;
    height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

fieldset {
    border: none;
}

.form legend {
    text-align: center;
    align-items: center;
    padding: 50px 0px 0px 0px;
}

/*título*/
.form span {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin: 0 auto;
}

/*subtítulo*/
.form p {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0px 40px 0px;
}

/*texto inputs*/
.form label {
    font-size: 17px;
    font-weight: 600;
    color: #000000;
    width: 300px;
    margin: 10px;
    padding: 0px;
    display: block;
    text-align: left;
    text-decoration: none;
}

input {
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    width: 300px;
    height: 40px;
    margin: 0px 0px 40px 8px;
    padding: 0px auto;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
}

/*botões formulário*/
.button {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    background-color: #C94141;
    border-radius: 5px;
    padding: 10px 120px;
    margin: 10px;
    text-decoration: none;
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.botao-secundario {
    font-size: 20px;
    font-weight: 600;
    color: #C94141;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 10px 50px 10px;
    text-decoration: none;
    border: 1px solid #C94141;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}