<!-- Página do Feed de doações que serão publicados pelos usuários -->

<!-- Herdando o documento navbar.html-->
{%extends "partials/navbar.html" %}

{%block title%}Feed{%endblock%}

{%block css_pagina%}
<link rel="stylesheet" href="{{ url_for('static', filename='styledoacoes.css' )}}">


<main>
    {%block content%}
        <hero>
            <img src="{{ url_for('static', filename='images/hero_image.png') }}" Alt="Mãos Unidas">
        </hero>

        <h1>Veja o que está disponível para doação:</h1>
        <h3>Escolha uma categoria abaixo ou veja todos os itens disponíveis</h3>

        <!-- Filtros -->
        <form action="/buscar" method="GET">
            <fieldset>
                <legend>
                    <p>Filtrar por categoria:</p>
                </legend>

                <div class="fitros-container">
                    {%for Categoria in Categorias%}
                        <div class="opcao-filtro">
                            <input type="checkbox" id="{{ categoria }}" name="Categoria" value="{{Categoria}}">
                            <label for="Categoria">{{Categoria}}</label>
                        </div>
                    {%endfor%}
                </div>

                <div class="campo-pesquisa">
                    <input type="search" name="query" placeholder="Pesquisar produto específico"
                        aria-label="Buscar no site">
                    <button type="submit">🔎</button>
                </div>
            </fieldset>
        </form>

        <!--Feed de produtos-->
        <section class="feed-produtos">
            <div class="produto-card">
                {%for Produto in Produtos%}    
                    <h2>{{produto.nome}}</h2>
                    <p>{{produto.descricao}}</p>
                    <img src="{{ url_for('static', filename='produto.image_url') }}" alt="{{produto.nome}}">
                    <p>Categoria: {{produto.categoria}} </p>
                    <button class="botao-receber" data-id-produto="{{produto.id}}">Quero Receber</button>
                {%endfor%}
            </div>
        </section>
    {%endblock%}
</main>